@import "tailwindcss";

body {
  background-color: var(--base-color);
}

html {
  scroll-behavior: smooth;
}

:root {
  --base-color: #1b1b1b;
  --base-variant: #121111;
  --text-color: #fff;
  --secondary-text: #666666;
  --third-text: #e83151;
  --primary-color: #333;
  --accent-color: #e83151;
}

.lightmode {
  --base-color: #f5f5f7;
  --base-variant: #ffffff;
  --text-color: #111111;
  --secondary-text: #555555;
  --third-text: #e83151;
  --primary-color: #e0e0e0;
  --accent-color: #e83151;
}

.header_container {
  height: 125px;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  position: sticky;
  align-items: center;
  top: 0px;
  gap: 100px;
  z-index: 5;
  box-shadow: 0 0 20px rgba(255, 0, 50, 0.2);
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--base-variant);
}

.header_text {
  color: var(--secondary-text);
  font-size: 45px;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.header_text:hover {
  transition: 0.25s ease-in-out;
  font-weight: 900;
  color: var(--text-color);
  text-shadow: 0 0 10px var(--secondary-text);
}

.button_header {
  margin-top: 10px;
  height: 100%;
  padding: 5px;
  font-size: 20px;
  display: flex;
  position: relative;
  font-weight: 600;
  color: var(--third-text);
  text-decoration: none;
  text-shadow: 0 0 10px var(--accent-color);
}

.button_header::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: var(--third-text);
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: 0.4s ease-in-out;
}

.button_header:hover::after {
  width: 100%;
}

.animated-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--base-color);
}

.txt {
  width: 9ch;
  font-size: 50px;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--text-color);
  font-family: monospace;
  opacity: 0;
  transform: translateX(-80px);
  animation:
    slideIn 0.75s ease-out forwards,
    typing 2s steps(9) 0.75s forwards,
    blink 0.7s step-end infinite;
}

.lightmode #theme-switch svg:first-child {
  display: none;
}

.lightmode #theme-switch svg:last-child {
  display: block;
}

.common {
  font-size: 20px;
  border-radius: 12px;
  max-width: 900px;
  background-color: var(--base-color);
  color: var(--text-color);
}

.about-text {
  color: var(--text-color);
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 0.7s ease-out forwards;
}

.foto {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 0.7s ease-out forwards;
}

.foto2:hover {
  transform: translateX(0) scale(1.25);
  border: solid var(--accent-color) 4px;
  transition: all 0.3s;
}

.foto2 {
  border-radius: 50%;
}

.about-me-socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 0.7s ease-out forwards;
}

.about-me-socials svg {
  border-radius: 50%;
  background-color: var(--base-variant);
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.about-me-socials svg:hover {
  transform: rotateY(360deg);
}

.projects-title {
  color: var(--text-color);
  font-size: 50px;
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 0.7s ease-out forwards;
}

.projects-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: var(--text-color);
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 0.7s ease-out forwards;
}

.project-card {
  color: var(--text-color);
  background-color: var(--base-variant);
  border-radius: 16px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s;
  border: 1px solid transparent;
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 0.7s ease-out forwards;
}

.project-card:hover {
  transform: translateX(0) scale(1.2);
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 20px rgba(232, 49, 81, 0.3);
}

.project-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.project-title {
  font-size: 20px;
  color: var(--text-color);
  font-weight: bold;
}

.project-desc {
  font-size: 14px;
  color: var(--secondary-text);
}

.project-btn {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.project-btn:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

.footer-container {
  background-color: var(--accent-color);
  padding: 40px 80px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer-text {
  font-size: 40px;
  color: var(--text-color);
  display: flex;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@theme {
  --animate-slideIn: 0.7s forwards slideIn ease-out;
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#theme-switch {
  margin-top: 10px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-switch svg {
  fill: var(--accent-color);
}

#theme-switch svg:last-child {
  display: none;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: radial-gradient(var(--accent-color) 1px, transparent 1px);
  background-size: 35px 35px;

  animation: particlesMove 20s linear infinite;

  opacity: 0.07;
  z-index: 0;
  pointer-events: none;
}

@keyframes particlesMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-150px, -150px);
  }
}

body {
  position: relative;
  z-index: 0;
  background-color: var(--base-color);
}

main {
  position: relative;
  z-index: 1;
}
